:root {
    --branding-color:#ffca03;
    --heading-font-family:"Playfair Display",
        serif;
    --default-font-family: 'Poppins',
        sans-serif;
    --secondary-color:#F9F7FE;
}
body {
    font-family: var(--default-font-family);
}
h1,
h2, 
h3,
h4, 
h5, 
h6  {
    color:black;
    font-family:var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 58px;
}

h2 {
    font-size: 60px;
}

h3 {
  font-size: 48px;  
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
.content-container{
    padding: 50px 20px;

}
.content h1 {
    font-size: 58px;
    line-height: 70px;
}
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3{
    font-size:24px;
    line-height:1.5;
    margin:20px 0 0 ;
    font-family: var(--default-font-family);
}

.content p {
   font-size: 16px;
   
}

.content {
    margin: 30px;
}

.major {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
    
}

.major p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
    font-size: 16px;
    
}

.major h2{
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;   
}
.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    line-height: 27px;
    padding:15px 30px ;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 16px;
    line-height: 27px;
    padding: 15px 30px;

}
 .img-fluid {
    width: 450px;
 }

 .img-fluid-flow {
    width: 300px;
    border-radius:10px ;
    
 }

.project-description{
    padding: 100px 50px;
}
.logo {
    max-width:100px;
    border-radius:100px ;
}
nav {
    padding:20px 0 ;
}
 
nav ul {
    margin: 0;
    padding: 0;
}

nav li {
   display:inline;
   list-style: none;
   line-height: 42px;
   margin-left: 10px;
   
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover, 
nav li.active a {
    color: var(--branding-color);

}
 footer {
    margin: 55px 0;
 }

 footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
 }

 footer .contact-box {
   margin: 0;
 }

footer .email-link {
    text-decoration:none ;
    color: black;
    font-size: 26px;
    
}

footer .email-link:hover {
   color: var(--branding-color); 
}

footer .social-links a {
    margin:0 20px ;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}



 footer .social-links:hover {
    color: white;
    
 }

@media (max-width:900px) {
    h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 14px;
    }
    .btn {
        font-size: 18px;
    }
 .project-description {
    padding: 0;
    text-align: center;
 }

 
 .content {
    text-align: center;
    padding: 0;
}
.content h1{
    font-size:40px;
    line-height: 50px;
}
nav a {
    font-size: 14px;
    
}

}

 img {
    
    width: 200px;
    border-radius: 10px;
 }
 
 